.hour {
  border: 3px solid #222222;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  text-align: center;
  margin: 10px 0;

  .btn-appointment {
    max-width: 170px;
    border-radius: 25px;
    margin: auto;
    color: #222222;
    border-color: #222222;

    &:hover {
      color: white;
      border-color: white;
    }
  }

  .btn-appointment-disabled {
    border: 3px solid rgb(220, 53, 69);
    color: rgb(220, 53, 69);
  }

  .login-loader {
    margin: 0 30px;

    .lds-dual-ring {
      margin: 0;

      &::after {
        margin: -10px;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .hour {
    .login-loader {
      margin: 0 70px;

      .lds-dual-ring {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .hour {
    .login-loader {
      margin: 0 40px;

      .lds-dual-ring {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .hour {
    display: grid;

    .btn-appointment {
      margin-top: 15px;
      min-width: 90%;
    }

    .login-loader {
      margin: 10px 40px;
    }
  }
}