.loading-order-tab-panel {
  .loading {
    margin-bottom: 150px;

    .loader {
      margin-top: 150px;
    }
  }
}

.order-list {
  margin-top: 2rem;

  h5 {
    font-family: 'Raleway-Black', Helvetica, monospace;
  }
}


