.login {
  padding: 5rem 3rem;

  .login-intro {
    margin-bottom: 4rem;
    text-align: center;

    h1 {
      font-family: 'Raleway-Black', Helvetica, monospace;
    }

    p {
      font-size: 17px;
    }
  }
}