.cart-product {
  padding: 15px 0;

  .cart-product-actions {
    display: flex;

    button {
      border: none;
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cart-product {
    .cart-product-name,
    .cart-product-amount,
    .cart-product-actions {
      font-size: 20px;
    }

    .cart-product-actions {
      font-size: 20px;
      justify-content: flex-end;

      button {
        padding: 0 0 0 5px;
      }
    }
  }
}