.cart-product {
  padding: 15px 0;

  .cart-product-actions {
    display: flex;

    button {
      border: none;
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 768px) {
  .cart-product {
    margin: 1.5rem 0;
    display: grid;
    text-align: center;
    justify-items: center;

    .cart-product-name,
    .cart-product-amount,
    .cart-product-actions {
      font-size: 20px;
    }

    .cart-product-actions {
      justify-content: left;
      font-size: 20px;

      button {
        padding: 0 0 0 5px;
      }
    }
  }
}