.section-products {
  text-align: center;
  max-width: 1185px;
  margin: auto 0 auto auto;
  border-left: 1px solid #222222;
  padding-left: 30px;

  .products-not-found {
    padding: 20rem 0;
  }
}

@media only screen and (max-width: 1049px) {
  .section-products {
    border-left: none;
    padding-left: 0;
    justify-content: center;
    margin-top: 70px !important;
  }
}