.shopping-cart-button {
  margin: 20px auto 40px;
  text-align: center;

  .custom-btn {
    margin: auto;
    color: #222222;
    border-color: #222222;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

.modal-backdrop {
  width: 1000vw !important;
  height: 1000vh !important;
}

.shopping-cart {
  padding: 0 !important;
  width: 100%;

  .modal-footer {
  justify-content: space-between;
    .payment {
      .btn-payment-process {
        padding: 9px 25px;
        border-radius: 30px;
        border-color: var(--secondary);
        background: transparent;
        color: var(--secondary);
        font-weight: bold;
        transition: all 0.2s ease-out;
        width: 180px;

        //noinspection DuplicatedCode
        &:hover {
          color: #ffffff;
          border: 1px solid var(--primary);
          background: var(--primary);
          transition: all 0.2s ease-out;
          font-weight: bold;
        }

        &:disabled,
        &:disabled:hover {
          color: #FFFFFF;
          border-color: #FFFFFF;
          background: #949494;
          opacity: 1;
          font-weight: normal;
        }
      }
    }

    .total-amount {
      font-size: 20px;
    }
  }

  .modal-content {
    border: 3px solid #222222;
    padding: 20px 40px;
    border-radius: 25px;
  }
}

@media only screen and (max-width: 995px) {
  .shopping-cart {
    padding: 0 !important;

    .modal-dialog {
      max-width: 95%;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .shopping-cart {
    .modal-dialog {
      margin: 1.5rem auto;
    }
  }
}