@import "~bootstrap";

@font-face {
  font-family: 'Raleway-Thin';
  src: local('Raleway-Thin'), url('assets/fonts/Raleway-Thin.ttf');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url('assets/fonts/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url('assets/fonts/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway-Italic';
  src: local('Raleway-Italic'), url('assets/fonts/Raleway-Italic.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url('assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway-MediumItalic';
  src: local('Raleway-MediumItalic'), url('assets/fonts/Raleway-MediumItalic.ttf');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url('assets/fonts/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'Raleway-Black';
  src: local('Raleway-Black'), url('assets/fonts/Raleway-Black.ttf');
}

:root {
  --primary: rgb(79, 98, 189);
  --secondary: #1c1f24;
}

body {
  zoom: 80%;
  font-family: 'Raleway-Light', Helvetica, monospace;
  color: #FFFFFF;
  background: #1c1f24;
  padding: 0 !important;
}

* {
  font-family: 'Raleway-Light', Helvetica, monospace;
}

input {
  font-weight: bold;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #222222;
  -webkit-box-shadow: 0 0 0 1000px #eaeaea inset;
}

.text-info-custom {
  color: var(--primary) !important;
}

html,
body,
#root {
  height: 100%;
}